main .about-me-section {
    background: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url('../img/herobg.png') no-repeat center;
    background-size: cover;
    width: 100%;
    height: auto;
}

main .about-me-section .about-me{
    font-size: 3rem;
    color: white;
    text-align: center;
    padding: 6rem 0 2.5rem;
    position: relative;
}

main .about-me-section .about-me::before {
    content: "SOBRE MÍ";
    opacity: 0.2;
    font-size: 8rem;
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
}

main .about-me-section p {
    font-family: 'Fira Code', monospace;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(224, 224, 224);
    text-align: center;
    max-width: 85%;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.about-me-section .hobbies-title, .education-title {
    font-size: 3rem;
    color: var(--main-color);
    text-align: center;
    position: relative;
    padding-bottom: 1rem;
}

main .about-me-section .hobbies-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    padding-bottom: 2rem;
}

.hobbies-container .hobbie {
    text-align: center;
}

.hobbies-container .hobbie img {
    width: 6rem;
    margin-bottom: 1rem;
}

.hobbies-container .hobbie h4 {
    font-family: 'Fira Code', monospace;
    font-size: 1.6rem;
    color: white;
    font-weight: 400;
}