/*Contact section*/
.contact-section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('../img/herobg.png') no-repeat center;
}

.contact-section .contact-title {
    font-size: 3rem;
    color: white;
    text-align: center;
    padding: 6rem 0 2.5rem;
    position: relative;
}

.contact-section .contact-title::before {
    content: "CONTACT ME";
    opacity: 0.2;
    font-size: 8rem;
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
}

.contact-section .form-wraper {
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    margin: 2rem auto 0;
}

.contact-section .form-wraper img {
    width: 40rem;
    height: 49rem;
    object-fit: cover;
}

.contact-section .form-wraper form {
    display: flex;
    flex-direction: column;
}

.contact-section .form-wraper form h3 {
    font-size: 2.2rem;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

.contact-section .form-wraper form label {
    font-size: 1.6rem;
    color: white;
    margin-bottom: .5rem;
}

.contact-section .form-wraper form input, textarea {
    font-family: 'Orbitron', sans-serif;
    background: none;
    font-size: 1.4rem;
    color: white;
    padding: .5rem 1rem 1rem;
    border: 0;
    border-bottom: 1px solid white;
    margin-bottom: 2rem;
    outline: none;
    transition: all .2s;
}

.contact-section .form-wraper form input:focus, textarea:focus {
    border-color: var(--main-color);
}

.contact-section .form-wraper form textarea {
    resize: none;
}

#submit {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    width: 40%;
    margin: 0 auto;
    font-weight: bold;
    padding: 1rem;
    transition: ease .5s;
    cursor: pointer;
}

#submit:hover {
    background: var(--main-color);
    color: white;
}