@import url(header.css);
@import url(main-section.css);
@import url(about-me.css);
@import url(skills-section.css);
@import url(portfolio-section.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Orbitron', sans-serif;
    font-size: 62.5%;
}

main {
    position: absolute;
    top: 0;
    width: 100%;
}

/*Scroll icon*/
.scroll-button {
    border: 0.3rem solid white;
    width: 5rem;
    height: 8rem;
    border-radius: 2.8rem;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}

.scroll-button::before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 1rem;
    transform: translateX(-50%);
    animation: scroll-moving 3s infinite ease;
}

.scroll-button::after {
    content: "SCROLL";
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1rem;
}

@keyframes scroll-moving {
    60% {
        transform: translate(-50%, 4rem);
        opacity: 0.75;
    }
    80% {
        opacity: 0.10;
    }
}

.social-links-container .satelite {
    width: 8.8rem;
    transition: ease 1s;
    cursor: pointer;
}

.social-links-container .satelite-rotation {
    transition: ease 1s;
    transform: rotate(45deg);
}

.social-links-container .github img, .twitter img, .linkedin img {
    width: 4rem;
}

.social-links-container .github {
    position: absolute;
    left: -6.5rem;
    bottom: 50%;
    transform: translateY(50%);
    animation: show-social 1s ease;
}

@keyframes show-social {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.social-links-container .linkedin {
    position: absolute;
    left: -3rem;
    top: -20%;
    transition: ease-in .5s;
    animation: show-social 1s ease;
}

.social-links-container .twitter {
    position: absolute;
    left: -3rem;
    bottom: -20%;
    transition: ease-in .5s;
    animation: show-social 1s ease;
}

.hidden {
    display: none;
}

/*Cursor styles*/
.cursor {
    position: fixed;
    z-index: 999;
    background: #2696e8;
    opacity: 0.55;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 2rem #2696e8,
    0 0 4rem white, 0 0 8rem #2696e8;
    transform: translate(-50%, -50%);
    display: none;
}

.cursor::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: #2696e8;
    width: 12rem;
    height: 12rem;
    opacity: 0.4;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 0 2rem #2696e8,
    0 0 8rem white, 0 0 12rem #2696e8;
}

/*Responsive design*/

@media screen and (max-width: 1120px) {
    /*Header responsive design*/
    header a .logo {
        width: 16rem;
    }
    header nav {
        padding: 0 6rem;
    }
    header nav li {
        font-size: 1.6rem;
    }
    /*Main section responsive design*/
    main .main-section .text h1 {
        padding: 6rem 0;
        font-size: 3.2rem;
    }
    main .main-section .text h3 {
        font-size: 2rem;
    }
    
    main .main-section .text h4 {
        font-size: 1.2rem;
    }
    main .main-section .profile-pic {
        width: 27%;
    }
}

@media screen and (max-width: 950px) {
    /*Header responsive design*/
    header {
        justify-content: space-between;
        padding: 2rem 2.5rem 0;
    }
    header nav {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
    /*Main section responsive design*/
    main .main-section .text h1 {
        padding: 4rem 0;
        font-size: 2.8rem;
    }
    main .main-section .text h3 {
        font-size: 1.8rem;
    }
    
    main .main-section .text h4 {
        font-size: 1.2rem;
    }
    main .main-section .profile-pic {
        width: 30% ;
        top: 22%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    main .main-section .astronaut-img {
        width: 40%;
    }
    .main-section .planet-img {
        width: 20%;
    }
    /*About me section responsive adjust*/
    main .about-me-section p {
        font-size: 1.5rem;
        max-width: 80%;
    }    
    .hobbies-container .hobbie img {
        width: 6rem;
    }
    .hobbies-container .hobbie h4 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    /*Header responsive design*/
    header a .logo {
        width: 13rem;
    }
    /*Main section responsive design*/
    main .main-section .text h1 {
        padding: 2rem 0 3rem;
        font-size: 2.6rem;
    }
    main .main-section .text h3 {
        font-size: 1.6rem;
    }
    main .main-section .profile-pic {
        width: 40% ;
    }
    main .main-section .astronaut-img {
        width: 40%;
        bottom: 8rem;
    }
    .main-section .planet-img {
        width: 30%;
        bottom: 2rem;
    }
    /*About me section responsive adjust*/
    main .about-me-section h2{
        font-size: 2rem;
    }
    
    main .about-me-section .about-me::before {
        font-size: 3.1rem;
        bottom: 3rem;
    }
    main .about-me-section p {
        font-size: 1.3rem;
        max-width: 90%;
    }
    .about-me-section .hobbies-title {
        padding-bottom: 1.6rem;
    }
    main .about-me-section .hobbies-container {
        width: 85%;
        margin: 0 auto;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .hobbies-container .hobbie img {
        width: 3.5rem;
    }
    
    .hobbies-container .hobbie h4 {
        font-size: 1.2rem;
    }
    /*My skills section*/
    main .my-skills-section .skills-containers {
        flex-wrap: wrap;
        justify-content: center;
    }
    main .my-skills-section .skills-title {
        font-size: 2rem;
    }
    main .my-skills-section .skills-title::before {
        font-size: 3.1rem;
        bottom: 3rem;
    }
    main .my-skills-section .container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        padding: 0 1rem;
        margin-bottom: 1rem;
    }
    main .my-skills-section .skill-container {
        flex-direction: column;
    }
    
    main .my-skills-section .skill-container img {
        width: 4rem;
    }
    main .my-skills-section .skill-container section {
        padding: .5rem 1rem;
    }
    
    main .my-skills-section .skill-container h3 {
        font-size: 1.5rem;
    }
    
    main .my-skills-section .skill-container p {
        color: white;
        font-size: 1.2rem;
    }
    /*Portfolio section*/
    main .portfolio-section .portfolio-title {
        font-size: 2rem;
    }
    
    main .portfolio-section .portfolio-title::before {
        font-size: 3.1rem;
        bottom: 3rem;
    }
    /*Satelite responsive adjust*/
    .social-links-container .satelite {
        width: 6.8rem;
    }
    .social-links-container .github img, .twitter img, .linkedin img {
        width: 3rem;
    }
    .social-links-container .github {
    left: -4.5rem;
    }
    .social-links-container .linkedin {
    left: -1.5rem;
    }
    .social-links-container .twitter {
    left: -1.5rem;
    }
    /*Scrol icon adjustment*/
    .scroll-button {
        border: 0.3rem solid white;
        width: 3rem;
        height: 4.8rem;
        border-radius: 1.7rem;
        bottom: 10rem;
    }
    
    .scroll-button::before {
        width: .6rem;
        height: .6rem;
    }
}